.stock_item_wrapper{
    max-width: 800px;
    width: 100%;
    padding: 50px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.125);
    margin: 50px auto;
    border: 1px solid;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.stock_item_title{
    text-align: center;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
.stock_item_button{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    margin-top: -20px;
}
.stock_item_img{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 1px solid #ddd;
    cursor: pointer;
}
